@media screen and (max-width: 700px) {
  .col-md-4 {
    text-align: center;
  }
  header {
    display: none;
  }
  .navResponsive {
    display: flex;
  }
  footer form {
    justify-content: flex-start;
  }
}
