:root {
  --primaryColor: rgb(31, 124, 110);
  --secondaryColor: #343a40;
  --light: white;
  --dark: black;
  --bgLight: #f4f4f9;
}
body {
  font-family: Arial, sans-serif;
  background-color: var(--bgLight);
}
/* header style */
header {
  background: linear-gradient(
    to bottom,
    var(--primaryColor),
    var(--secondaryColor)
  );
  color: var(--light);
  padding: 30px 0;
  position: relative;
  position: sticky;
  top: 0;
  z-index: 10;
}
header::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 5px;
  background-color: var(--light);
}
header h1 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.494);
}
.TransperantHeaderAfter::after {
  background-color: transparent;
}
/* nav style */
nav a {
  color: var(--light);
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
  color: var(--light);
  transition: 1s;
  transform: translateY(-3px);
}
/* nav responsive */
.navResponsive {
  display: none;
  padding: 10px 20px;
  width: 100vw;
  background-color: var(--secondaryColor);
  height: 60px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -20px;
}
.navResponsive button {
  width: 40px;
  height: 30px;
  border-radius: 5px;
  border: none;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.navResponsive button .line {
  width: 30px;
  height: 2px;
  background-color: var(--primaryColor);
}
.navResponsive h5 {
  color: var(--light);
}
.offcanvas-body ul li a {
  color: var(--dark);
}
.offcanvas-body ul li a:hover {
  color: var(--primaryColor);
}
/* posts style */
.post {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.post:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.post h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.post p {
  color: #666;
  line-height: 1.6;
}
.post .btn-primary {
  background-color: var(--primaryColor);
  border: none;
}
.post .btn-primary:hover {
  background-color: var(--secondaryColor);
}
/* asids style */
aside {
  background-color: var(--bgLight);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
h3 {
  margin-bottom: 20px;
  font-size: 1.2rem;
}
aside ul {
  list-style-type: none;
  padding-left: 0;
}
aside ul li {
  margin-bottom: 10px;
}
aside ul li a {
  color: var(--primaryColor);
  text-decoration: none;
}
aside ul li a:hover {
  text-decoration: underline;
  color: var(--secondaryColor);
}
/* footer style */
footer {
  background: linear-gradient(to top, var(--secondaryColor), var(--bgLight));
  color: var(--dark);
  text-align: center;
}
footer form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 75vw;
}
footer form input {
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 10px 0 0 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.354);
}

footer #Send {
  background-color: var(--primaryColor);
  color: var(--light);
}
footer #Send:hover {
  background-color: var(--bgLight);
  color: var(--dark);
}
footer p {
  margin: 10px auto;
}
#thanks {
  font-size: 1.6rem;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.494);
}
#thanks span {
  color: var(--primaryColor);
  font-weight: bolder;
  text-shadow: none;
}
/* up butttom */
.UP {
  background-color: transparent;
  color: var(--primaryColor);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.498);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: flex;
}
/* loading Page */
.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #343a40c4;
  display: flex;
  transition: opacity 0.5s ease;
  opacity: 1;
}
.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(
      circle closest-side,
      var(--primaryColor) 90%,
      #0000
    )
    0 / calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 2s steps(4) infinite;
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}
